.l\:grid {
    column-gap: var(--grid-gutter);
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    margin-inline: auto;
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    row-gap: 0;
}

[data-grid-columns="quarter"] {
    grid-column: span calc(var(--grid-columns) / 4);
}

[data-grid-columns="third"] {
    grid-column: span calc(var(--grid-columns) / 3);
}

[data-grid-columns="half"] {
    grid-column: span calc(var(--grid-columns) / 2);
}

[data-grid-columns="full"] {
    grid-column: span var(--grid-columns);
}
