body {
    font-family: var(--ff-sans);
    font-size: var(--fs-1);
    line-height: var(--lh-standard);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: unset;
}

h1,
h2,
h3 {
    line-height: var(--lh-snug);
}

h4,
h5,
h6 {
    line-height: var(--lh-condensed);
}

h1 {
    font-size: var(--fs-5);
}

h2 {
    font-size: var(--fs-4);
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-2);
}

h5 {
    font-size: var(--fs-1);
}

h6 {
    font-size: var(--fs-0);
}

:where(h5, h6):not([class]) {
    text-transform: uppercase;
}

p {
    line-height: var(--lh-standard);
    font-size: var(--fs-1);
}

p code {
    font-family: var(--ff-mono);
    font-size: 0.9em;
}
/*a {
}

a:not([class]) {
}*/
